body {
    background-color: #e8eced; 
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}


.cake_flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


.cake {
    width: 200px; 
    height: 200px; 
    text-align: center;
}


.posing {
    display: none; 
}

.secret_cake {
    display: none; 
}

.band_pic {
    display: none; 
}

.hidden_quote {
    display: none; 
}

.hidden_review {
    display: none; 
}

.nav_bar {
    display: flex;
    align-content: center;
    flex-direction: row;
    /* background-color: #F4DBE4; */
}

.ul_nav {    
    list-style: none;
    margin: 10px;
    width: 100%; 
    padding: 10px;  
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;   
}

a { 
    color: black; 
    text-decoration: none;
}

a:hover {
    color:#e8eced;
}

.nav_logo {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 78pt; 
    text-decoration: none; 
    color: #43a2ad; 
    padding: 2px 2px;
    display: flex; 
    justify-content: center;
    align-items: center;  
    /* background-color: #F4DBE4;   */  
}

.li_nav {
    margin: 0;
    padding: 4px 4px; 
    font-size: 14px; 
}

.li_nav:hover {
    background-color:#43a2ad;
    color: #e8eced; 
    border-radius: 20px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.active {
    background-color: black;
    color: white; 
    border-radius: 50px;
    padding: 10px;
    text-decoration: none; 
    text-align: center;
}

.girl_flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.girl {
    width: 300px; 
    height: 300px; 
    text-align: center; 
    border: 1px solid black; 
    /* padding: 1px;  */
    padding: 5px;
    border: solid 1px #EFEFEF;
}


a:hover .girl {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

.forget_it {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

h1 {
    font-family: 'Libre Baskerville', serif; 
    /* font-style: italic;   */
    font-size: 16pt;  
    color: #43a2ad; 
    border-bottom: 1px solid grey; 
}


.steven {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-left: 4px solid #E4B9C3; 
    padding: 10px; 
    font-style: italic; 
    
}
.review {
      font-family: 'Libre Baskerville', serif;
      font-size: 12pt; 
      color: grey;
      display: flex; 
      justify-content: center; 
      align-items: flex-end;     
}

